<!DOCTYPE html>
<html lang = "es">
	<head>
		<meta charset="UTF-8">
		<title>Sist. Mostacho RRHH. </title>
		<link href = "http://localhost/MostachoRRHH/View/css/index.css" rel = "stylesheet"/>
	</head>
	<body >
	<div id = mainBanner >
		<h1>Mostacho RRHH</h1>
	</div>
	<div id = form>
		<div id = leftForm>
			<h3>Sistema de Recursos Humanos de Mostacho Bancario</h3>
			<h1 id="lblReloj"></h1>
			<h2 id="lblFecha"></h2>
		</div>
		<div id = rightForm>
			<h3>Autenticate para Ingresar</h3>
			<div id = "txts">
				<p>Nombre de Usuario:</p><input id="txtUsername" type="text" class="textField"><br/>
				<p>Password:</p><input id="txtPassword" type="password" class="textField">
			</div>
			<button id="btnAcceso">Ingresar</button>
		</div>
	</div>
	<script type = "text/javascript" src="http://localhost/MostachoRRHH/View/js/index.js"></script>
	</body>
</html>