/*BARRA DE BUSQUEDA*/

.barraBusqueda *{
	margin:1%;
	float:left;
}

.barraBusqueda{
	background-color:#ed7804;
	width:95%;
	margin:auto;
	overflow:auto;
}

.barraBusqueda > p{
	margin-top:1.5%;
	font-weight: bold;
	font-size:1em;
	margin-left:1em;
	margin-right:0.5em;
}

.barraBusqueda > input{
	width:40%;
	margin-right:1%;
	font-size:1em;
}

.barraBusqueda button{
	font-size:1em;
	margin-right:1em;
}

/*TABLALISTA*/

.tablaLista{
	height:50%;
	width:95%;
	margin-bottom:0;
	margin:auto;
}

.tablaLista tbody{
	display:block;
	overflow:auto;
}

.tablaLista .headers{
	background-color:#ed7804;
	font-family: arial;
	font-weight:bold;
	font-size:16px;
}

.tablaLista tr{
	background-color:#fff;
}

.tablaLista tr:hover:not(.headers){
	background-color:lightblue;
	color:black;
}

.tablaLista tr.selected:not(.headers){
	background-color:blue;
	color:white;
}

.tablaLista td{
	position:relative;
}

/*BARRA DE OPERACIONES*/

.barraOperaciones *{
	margin:1%;
	float:left;
}

.barraOperaciones{
	background-color:#ed7804;
	width:95%;
	margin:auto;
	overflow:auto;
}


.barraOperaciones > p{
	margin-top:1.5%;
	font-weight: bold;
	font-size:1em;
	margin-left:1em;
	margin-right:0.5em;
}

.barraOperaciones select{
	font-size:1em;
	margin-right:1em;
}


.barraOperaciones button{
	font-size:1em;
	margin-right:1em;
}

