/*ESTILO DE PAGINA WEB*/
html

body { 
  display: table;
  margin: 0; 
  padding: 0; 
  text-align: center;
  background:#dddddd;
  width: 100%;
}

#content{
	width:100%;
	display:table;
	overflow:auto;
	visibility: hidden;
}

 
.generalone{
  display: table-row;
  font-family: arial;
}

/*BANNER SUPERIOR (NOMBRE DE LA APLICACION WEB)*/

#mainBanner{
	position:fixed;
	top:0%;
	left:0%;
	background:#ed7804;
	width: 100%;
	z-index:5;
}

#mainBanner h1{
	margin:0px;
	color: black;
	font-family: arial;
	text-align: center;
	font-size: 38px;
}
/*
/*BARRA DE MENUS*/

/*ESTILOS GENERALES*/

#menuBar{
	position:fixed;
	top:27px;
	margin:0;
	width:100%;
	z-index: 2;
}

#menuBar nav ul{
	list-style: none;
	padding:0;
}

#menuBar nav li{
	line-height: 2.4rem;
	position:relative;
}

#menuBar .menu a{
	color:black;
	display: block;
	padding: 0 2.5em;
	text-decoration: none;
	transition:.4s;
}

#menuBar .menu a:hover{
	background: orange;
}

#menuBar .menu ul{
	position:absolute;
}
/*
nav li ul{
	display: none;
}

nav li:hover > ul{
	display:block;
}
*/
/*PRIMER NIVEL*/

#menuBar .menu{
	background: #eeeeee;
	display:table;
	width:100%;
}
#menuBar .menu > li{
	float:left;
	width:200px;
	font-weight: bold;
	text-align:center;
	border-right: 1px solid #d7d8de;
}

#menuBar .menu > li:last-child{
	float:left;
	width:200px;
	font-weight: bold;
	text-align:center;
	border-right:0;
}

/*SEGUNDO NIVEL*/

#menuBar nav li li{
	background:white;
	max-height: 0;
	transition:all .8s;
	overflow: hidden;
	width:200px;
	z-index:8;
}

#menuBar nav li:hover > ul > li{
	max-height:500px;
	overflow:visible;
}

#menuBar .menu > li > ul{
	top: 100%;
}

/*TERCER NIVEL*/

#menuBar .menu  ul  ul{
left:100%;
top:0;
}

/**/

/*TITULO*/

#titulo{
	position:relative;
	display: inline-block;
	width:100%;
	left:0;
	color:black;
	font-size: 28px;
	text-align: center;
	z-index: 1;
}

/*MAIN*/

#main{
	position:fixed;
	width:100%;
	height:80%;
	top:13.5%;
	bottom:13.5%;
	text-align: center;
	/*background-color:green;*/
}

/*FOOTER INFERIOR (FECHA-HORA E INFORMACION DEL USUARIO)*/

 footer {
   position:fixed;
   background: #ed7804; 
   width:100%;
   bottom: 0;
   z-index: 5;
 }

 footer h2{
 	color:black;
 	font-family: arial;
 	font-size: 20px;
 	margin:0;
 }

 footer #lblReloj{
 	text-align: right;
 	float:right;
 }

 footer #lblUserInfo{
 	text-align: left;
 	float:left;

 }

 /*MENU AREAS*/

div.lateral-izquierdo{
	position:relative;
	width:49.5%;
	height:100%;
	float:left;
	border-right:5px solid orange;
}

div.lateral-derecho{
	position:relative;
	width:49.5%;
	height:100%;
	float:right;
}

div.lateral-derecho-superior{
	position:relative;
	width:100%;
	height:39.9%;
	float:top;
	border-bottom:5px solid orange;
}

div.lateral-derecho-inferior{
	position:relative;
	width:100%;
	height:59.9%;
	float:bottom;
}