.organigrama{
	max-height:100%;
	height:87%;
	overflow: auto;
	margin-left:1%;
	margin-right:1%;
}

td.google-visualization-orgchart-node {
	background:#eeeeee;
	border:1px solid black;
}

td.google-visualization-orgchart-node:hover{
	background:orange;
}

td.google-visualization-orgchart-node:active{
	background:red;
}

/*<td colspan="6" class="google-visualization-orgchart-node google-visualization-orgchart-node-medium" title="">Alice11</td>*/